.check-Out {
    h1 {
        @extend .display-xl-48-dekstop-only;
    }

    .bottom-line {
        margin: auto;
        height: 0.5rem;

        width: 7rem;
        background-color: $primary-brand;
        border-radius: 0.25rem;
    }
}

.Guest-check {
    text-align: left;
    padding: 0.25em;

    h2 {
        @extend .display-l-36-;
        padding: 0.25em;
    }

    h4 {
        @extend .regular-heading-l-20-;
        padding: 0.25em;
    }

    p {
        @extend .regualr-body-m-16-;
        padding: 0.25em;
    }
}

.country {
    text-align: left;
    padding-right: 1rem;

    input {
        border-radius: 0.5rem;
        padding-right: 1rem;

        padding: 0.5em;
    }
    

 
}
.city{
    padding-right: 1rem;

}
.state{
    padding-right: 1rem;
}

.country-code{
    padding-right: 1rem;

}
.zip {
        width: 55%;
    }

.ship {
    text-align: left;
    padding: 1rem 0 1rem 0;

    .h4 {
        @extend .regular-heading-l-20-;
    }
}

.contact-info {
    text-align: left;
    padding: 0.5em;
   
    .Email {
        text-align: left;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        
    }
   

    .number {
        text-align: left;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    input {
        border-radius: 0.5rem;
        padding: 11px 0 13px 0;
        // width: 436px;
        width: 100%;

    }
  

    // input {
    //     background: #FFFFFF 0% 0% no-repeat padding-box;
    //     border: 2px solid #B5B7BC;
    //     width: 436px;
    //     border-radius: 8px;
    //     opacity: 1;
    // }
}


.prod-Summary {
    @extend .regualr-body-m-16-;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 2em;
    

    li {
        @extend .regualr-body-m-16-;
        list-style-type: none;
    }
}

.price-val {
   
    @extend .regualr-body-m-16-;
    visibility: hidden;
    text-align: left;
}

.sign-in {
    margin-top: 2.5em;
    h4 {
        text-align: left;
    }
}

.sign-check {
    border: 1px solid #D1D3D6;
    border-radius: 2px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    background: var(--white) 0% 0% no-repeat padding-box;
}

.prod-price {
    height: 19rem;
    width: 26rem;
    padding: 2em;
    border: 1px solid #D1D3D6;
    border-radius: 2px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    background: var(--white) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #0000000D;


}

.sign-btn button {
    text-align: center;
    border-radius: 0.5rem;
    width: 111px;

}

.contact-btn {
    width: 352px;
    padding: 0.5em;
    border-radius: 0.5rem;
    margin-top: 2%;
    border: 2px solid #2A65D7;
    border-radius: 10px;
    background-color: white;
    color: #2A65D7;
    opacity: 1;
}
.continue-btn{
    padding:1rem 0 2rem 0;
}

.accordion {
    padding: 0.5em 0 0 0.5em;
    
    color: #444;
    cursor: pointer;
    padding: 2em;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border: 1px solid #D1D3D6;
    display: flex;
    justify-content: space-between;
    background-color: white;
   
}

.accordion span {
    float: right;
}

.panel {
    padding: 0 18px;
    // background-color: white;
    display: none;
    overflow: hidden;
    border: 1px solid black;
   
}

.state-input {
    input {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #B5B7BC;
        width: 90%;
        border-radius: 8px;
        opacity: 1;
    }

    label {
        text-align: left;
        font: normal normal 600 16px/24px Muli;
        letter-spacing: 0px;
        color: #181C24;
        opacity: 1;
    }
}
.state-select{
    width: 100%;
    padding: 13px 0 11px 0;
    border-radius: 0.5rem;
   
}

.sign-in {
    box-shadow: 0px 0px 8px #0000000D;
    display: flex;
    margin-bottom: 2%;
    justify-content: space-around;
    border: 1px solid #D1D3D6;
    border-radius: 2px;
    height: 5rem;
    width: 26rem;
   
    opacity: 1;

    h4 {
        text-align: left;
        font: normal normal 600 20px/25px Muli;
        letter-spacing: 0px;
        color: #172026;
        opacity: 1;
        
    }

    button {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        width: 150px;
        height: 40px;
        margin-top: 2%;
        border: 2px solid #2A65D7;
        color: #2A65D7;
        border-radius: 10px;
        opacity: 1;
    }
}

.shiping-i{
    text-align: left;
    padding: 2em;
    border:  1px solid #D1D3D6;
    h6{
       text-align: left;
       font: normal normal 600 16px/20px Muli;
       letter-spacing: 0px;
       color: #172026;
       opacity: 1;
    }
   
}
.edit-button button{
    
        position: relative;
        left: 15rem;
      
        text-align: right;
        font: normal normal 600 16px/22px Muli;
        letter-spacing: 0px;
        background: none;
        border: none;
        color: #1363DF;
        opacity: 1;
    
    
   
}
