.check-Out{
   
    h1{
        @extend .display-xl-48-dekstop-only;
    }
    .bottom-line {
        margin: auto;
        height: 0.5rem;

        width: 7rem;
        background-color: $primary-brand;
        border-radius: 0.25rem;
    }
}

.G-check{
    text-align: left;
    h2{ 
        padding: 0.25em 0 0.25em 0;
        text-align: left;
        @extend .display-l-36-;
    }
}
.radio-btn{
    text-align: left;
  input{
        margin-top: 2em;
        height: 20px;
        width: 20px;
    }
    label{
        padding-top: 1em ;
        padding-bottom: 1em ;
        padding-left: 1em;
        vertical-align: super;
        @extend .regular-heading-s-14- ;
        color: #172026;
    }
}
.radio-ship{

  text-align: left;
    
}
.ship-info{

    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    @extend .regular-heading-m-16-;
   
}
.ship-edit{
    @extend .regular-heading-m-16-;
    padding-top: 2em;
    padding-bottom: 2em;
    color:  #2A65D7;
   
}
.s-info{
    text-align: left;
    @extend .regular-heading-s-14- ;
    color: #535965;;
}
.editbtn{
    background: none;
    border: none;
    color: #2A65D7;
    float: right;
    
 
}
.editbtn img  {
    color: #2A65D7;
   
}
.border-info{
    border: 1px solid #D1D3D6;
    border-radius: 2px;
    opacity: 1;
}
.ship-method{
    h4{
        margin: 2em 0 2em 0;
    }
}
.payment-btn{
    @extend .regular-heading-s-14- ;
    width: 281px;
    padding: 0.5em;
    border-radius: 0.5rem;
    margin: 2%;
    border: 2px solid #2A65D7;
    border-radius: 10px;
    background-color: white;
    color: #2A65D7;
    opacity: 1;
    text-align: center;
}
.guest-accordion{
    @extend  .regular-body-l-20-;
    margin-top: 3%;
    margin-bottom: 5%;
}
.ship-show{
    border:  1px solid #D1D3D6;
   
  
}
.e-button button{ 
    
    float: right;
    font: normal normal 600 16px/22px Muli;
    letter-spacing: 0px;
    background: none;
    border: none;
    color: #1363DF;
    opacity: 1;
}