header {
  background-color: #1363DF;
  // position: fixed;
  width: 100%;
  // z-index: 1;
    
    padding: 1em;
    border-bottom: none;
    .active{
      border-bottom: white;
      
      background: #DFF6FF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
width: 60px;
height: 7px;
    }
  
    .logo {
      @extend .regular-heading-l-20- ;
      letter-spacing: 0.25rem;
      
      color: white;
      
    }
  
    .logo.toggle {
      display: none;
    }
  
    .burger {
      display: none;
      background-color: transparent;
      border: 0;
      button{
        color: white;
      }
  
      div {
        width: 1.75rem;
        height: 0.25rem;
        background-color: white;
        margin: 0.25rem;
        transition: transform 0.3s ease-in;
      }
    }
  
    .toggle #line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .toggle #line2 {
      opacity: 0;
    }
  
    .toggle #line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  
  
    #inputSearch {
      padding: 0.25em;
      width: 30%;
    }
  
    .hideInput {
      visibility: hidden;
    }
  
    .btn {
      background-color: transparent;
      outline: none;
      border: none;
    }
  
  
    .nav-links {
     
      display: flex;
      color: white;
  
      li {
        list-style: none;
        padding: 0.75em;
      }
  
      a {
        text-decoration: none;
        @extend .regualr-body-m-16-;
      }
    }
  
    .bottomLinks {
      display: none;
    }
  
    
    .mobileHide {
      display: block;
    }
  
    .desktopHide {
      display: none;
    }
  
    .headerOuter {
      
      
        
      display: flex;
      justify-content: center;
      align-items: center;
      // justify-content: space-between;
      // width: 90vw;
      nav{
        margin-left: 32%;
        margin-right: 17%;
      }
   
    }
  
    .endHeader {
      display: flex;
      justify-content: center;
      align-items: center;

    

      .badge{

        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin: -40px 0 0 25px ;
        z-index: 3;
      width: 15px;
      height: 15px;
      background-color: black;
      border-radius: 50%;
      padding: 0.25em;
      }
      .burger{
 #line1{
        color: white;
      }
      #line2{
        color: white;
      }
      #line3{
        color: white;
      }
      }
     
      .shopbagicon{
       z-index: -3;

      }
  label, a{
    @extend .regualr-body-m-16-;
  }
      img {
        padding: 0 0.37em;
      }
    }
  }