header {
  background-color: #1363DF;
  // position: fixed;
  width: 100%;
  z-index: 1;
    
    padding: 1em;
    border-bottom: none;
    
  
    .logo {
      @extend .regular-heading-l-20- ;
      letter-spacing: 0.25rem;
      
      color: white;
      
    }
  
    .logo.toggle {
      display: none;
    }
  
    .burger {
      display: none;
      background-color: transparent;
      border: 0;
      button{
        color: white;
      }
  
      div {
        width: 1.75rem;
        height: 0.25rem;
        background-color: black;
        margin: 0.25rem;
        transition: transform 0.3s ease-in;
      }
    }
  
    .toggle #line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .toggle #line2 {
      opacity: 0;
    }
  
    .toggle #line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  
  
    #inputSearch {
      padding: 0.25em;
      width: 30%;
    }
  
    .hideInput {
      visibility: hidden;
    }
  
    .btn {
      background-color: transparent;
      outline: none;
      border: none;
    }
  
  
    .nav-links {
     
      display: flex;
      color: white;
  
      li {
        list-style: none;
        padding: 0.75em;
      }
  
      a {
        text-decoration: none;
        @extend .regualr-body-m-16-;
      }
    }
  
    .bottomLinks {
      display: none;
    }
  
    
    .mobileHide {
      display: block;
    }
  
    .desktopHide {
      display: none;
    }
  
    .headerOuter {
      
      
        
      display: flex;
      justify-content: center;
      align-items: center;
      // justify-content: space-between;
      // width: 90vw;
      nav{
        margin-left: 32%;
        margin-right: 17%;
      }
   
    }
  
    .endHeader {
      display: flex;
      justify-content: center;
      align-items: center;

    

      .badge{
        border-radius: 0.27rem;
    }
    .rounded-pill{
        border-radius: 50rem!important;
    }
    .badge-notification{
      position: absolute;
      font-size: -0.4rem;
      margin-top: -1.1rem;
      margin-left: -0.5rem;
      padding: 0.2em 0.45em;
    }
    .bg-danger{
        background-color: black!important;
        color: #FFFFFF;
    }
      
  label, a{
    @extend .regualr-body-m-16-;
  }
      img {
        padding: 0 0.37em;
      }
    }
  }