
// .container{
//     padding-left: 1.5em;
//     padding-right: 1.5em;
// }
.bannerleft-first{
    text-align: left;
    padding: 4.5rem 0;;
    h1{
     @extend .display-xl-48-dekstop-only;
    
    }
    h5{
        @extend  .regular-heading-l-20-;
       
        margin: 0.5rem 0 1.5rem;
    }
    p{
        @extend .regular-heading-m-16-;
        line-height: 23px;
        margin: 0.5rem 0 0 0;
    }
    img{
        top: 2808px;
       left: 48px;
       width: 250px;
       height: 10px;
    }
   
}

.shopC{
    @extend .regular-heading-s-14-;
    color: #1F39FF;
    background-color: white;
    border: 2px solid #1F39FF;
    width: 15rem;
    padding: 0.75rem;
    border-radius: 0.5em;
    margin: 1.5em 3.5em 3em 0;
}
.shopN{
    @extend .regular-heading-s-14-;
    color: white;
    background-color: $primary-brand;
    border: white;
    width: 15rem;
    padding: 0.75rem;
    border-radius: 0.5em;
    margin: 1.5em 0 3em 0;
   
}

.max-header{
    height: 0.5rem;
    width: 8rem;
    background-color:  $primary-brand;
}
.bannerleft-sec {
    img{
        max-width: 100%;
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: top;
    }


}