
.categories-main{
   
    position: relative;
    
    background-color: white;
  
    top: -2em;
   .banner-mid{
    padding-right: 1rem;
   }
}

.category-img img{
    width: 100%;
    height: 170px;
    max-width: 100%;
    
   }

.category-shop{
    
    background-color: #1B252CD9;
    color: white;
    position: relative;
    bottom: 3rem;
    height: 5.5rem;
    border-bottom: 5px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h5{
        @extend .display-m-24-;
    }
    p{
        @extend .regular-heading-m-16-;
    }
  
 
 }
@media(max-width:786px) {
    .categories-main{
        transform: translateY(254px);
    }
   
}