// .banner-new{
//     background-color: #00000033;
//     text-align: left;
//     .chevron-Left{
//        margin-left: 10rem;
//        p{
//         @extend .regualr-body-m-16-;
//         line-height: 26px;
//         margin: 0.5rem 0 1.5rem;
//        }

//        h1{
//         @extend .display-xl-48-dekstop-only;
       
//     }
//     }

// .banner-newfirst{
   
  
   
//         padding-top: 7em;
//         padding-bottom: 7em;

 
   

//     .shop-btn{
//         @extend .regular-heading-s-14-;
//         color: white;
//         background-color: $primary-brand;
//         border: none;
//         width: 15rem;
//         padding: 1em;
//         border-radius: 10px;
//         margin: 0.5rem 0 1.5rem;
//         font-weight: bold;
//        }
//        .chevron-L img {
           
//     position: relative;
//     top: 9rem;
//         height: 2.25rem;
//         width: 1.25rem;
//         margin-left: 3rem;
//        }
//     }
// }
// .ThreeDotsWrapper{
//     display: none;
// }
// .banner-new{
//     img{
//             object-fit: cover;
//             width: 100%;
//             max-height: 600px;
//             object-position: 0px -190px;
//     }
// }

.homeBanner {
    display: flex;


    .homeInnerBanner {
        display: flex;
        width: 50%;


        text-align: center;

        color: black;
        padding: 0;
        // flex: 2;
        background-color: #e5e5e7;
        padding: 0 2em;

        div {
            display: flex;

            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            padding: 1em 0;

            h2 {
                @extend .display-l-36-;
                width: 60%;
                text-align: start;
            }

            p {
                padding: 1em 0;
                text-align: start;
            }

            button {

                @extend .regular-heading-s-14-;
                        color: white;
                        background-color: $primary-brand;
                        border: none;
                        width: 15rem;
                        padding: 1em;
                        border-radius: 10px;
                        margin: 0.5rem 0 1.5rem;
                        font-weight: bold;
                color: $white;
            }

            .homeBannerImg {
                background-image: url(../Assets/banner-f.png);


            }

            .ThreeDotsWrapper {
                display: none;
            }
        }

        img {
            width: 0.75em;
            padding: 1em;
        }

    }


    .homeImage {
        // flex: 2;
        width: 50%;
        height: 25rem;
        object-fit: cover;
        object-position: 15% 30%;

    }


}
